@import './vars.scss';
@import '../../node_modules/bootstrap/scss/bootstrap.scss';

* {
  box-sizing: border-box;
  color: $midnight-blue-color !important;
}

body {
  margin: 0;
  padding: 0;
  background: $lg-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 16px !important;
  font-family: $font-roboto !important;
  font-weight: 600 !important;
}

p,
span,
label,
a {
  margin-bottom: 10px !important;
  font-family: $font-quicksand !important;
  font-weight: 400 !important;
}

p {
  clear: both;
}

a {
  font-weight: 700 !important;
  transition: all .3s ease-in-out !important;

  &:hover {
    text-decoration: none !important;
    color: $sky-blue-color !important;
    transition: all .3s ease-in-out !important;
  }
}

svg {
  transition: all .3s ease-in-out !important;

  &:hover {
    fill: $sky-blue-color !important;
    transition: all .3s ease-in-out !important;
  }
}

input {
  font-family: $font-quicksand !important;
  font-weight: 400 !important;
}

.username {
  margin-bottom: 20px;
  padding-bottom: 14px;
  position: relative;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;

    position: absolute;
    left: 0;
    bottom: 0;

    background: $lg-animation;
    background-size: 200% 100%;
    animation: 5s backgroundAnimation linear infinite;
  }
}

.card {
  min-height: 100%;
  border-color: $midnight-blue-color !important;
  background-color: transparent !important;
}

.card-body {
  flex: 0 0 auto !important;
  margin: auto 0 0 !important;
}

.instagram-post-reel,
.instagram-post-video,
.instagram-post-image {
  padding: 16px 16px 0;
  
  video,
  img {
    width: 100%;
    height: auto;
    max-height: 480px;
    max-width: 480px;
    vertical-align: middle;
    object-fit: cover;
    object-position: center;
    font-family: 'object-fit: cover; object-position: center;';
  }
}

.instagram-post-reel {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 480px;

  a {
    margin-bottom: 0 !important;
    font-size: 22px;
  }
}

.form-control:focus {
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
  box-shadow: none !important;
}

.input-group-text {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

button {
  min-width: 124px;
  width: 100%;
  height: 38px;
  
  position: relative;
  
  padding: 2px 8px;
  border: none;
  border-radius: 8px;
  
  background: $dodger-color;
  background-repeat: no-repeat;
  
  font-size: 18px;
  font-weight: 700;
  font-family: $font-quicksand;

  z-index: 1;
  overflow: hidden;
  transition: all .3s ease-in-out;

  &::before {
    content: "";
    display: inline-block;
    width: 0;
    height: 100%;
  
    background: darken($dodger-color, 5%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width .7s ease-in-out;
  }

  &:hover::before {
    width: 100%;
  }

  @media screen and (max-width: 768px) {
    margin-top: 10px;
  }
}